h1 {
    text-align: center;
    background-color: pink;

}

.navbar {
    background-color: lavender !important;
}

.card {
    margin: 30px;
    text-align: center;
    position: relative;
    top: 10px;
    padding-top: 0;
    background-color:red;
}
