h1 {
    text-align: center;
    background-color: brown;
    color: white;

}

h5 {
    text-align: center;

}

.navbar {
    background-color:beige!important;
}


.card {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    padding: 35px;
    background-color:white;

}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; /* Optional: defining a width helps visualize the centering */
}



body {
    background-color: lightblue;
}
