h1 {
    text-align: center;
    background-color: pink;

}

.navbar {
    background-color: lavender !important;
}

.card {
    margin: 30px;
    text-align: center;
    position: relative;
    top: 5px;
    padding: 20;
    background-color:white;

}

.card-container{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;

}

body {
    background-color: lightblue;
}
